{deps, [{mouture, ".*", {git, "https://github.com/nox/mouture.git",      {tag, "0.1.1"}}},
        {getopt,  ".*", {git, "https://github.com/jcomellas/getopt.git", {tag, "v0.8.2"}}}
]}.

{escript_name,"bumperl"}.
{escript_incl_apps,[mouture,getopt]}.
{escript_shebang,"#!/usr/bin/env escript\n"}.
{escript_comment,"%%\n"}.
